*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    font-family: "Roboto";
    height: 100vh;
    background-color: #fcfcf7;
    color: #1f1f09;
    display: flex;
    justify-content: center;
    align-items: center;
}

button,
li,
a {
    all: unset;
    box-sizing: border-box;
}

#dropdown {
    --border-radius: 6px;
    --shadow-color: 60deg 13% 61%;
    max-width: 220px;
    width: 100%;
    background-color: #fff;
    border-radius: var(--border-radius);
    position: relative;
}

.dropdown-toggle,
.menu-item,
.submenu-item {
    width: 100%;
    padding: 12px 20px;
    cursor: pointer;
}

:is(.menu-item, .submenu-item):first-child {
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
}

:is(.menu-item, .submenu-item):last-child {
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
}

:is(.menu-item, .submenu-item):hover {
    background-color: #faf6ea;
}

.dropdown-toggle,
.submenu-toggle {
    display: flex;
    justify-content: space-between;
    align-items: left;
}

.dropdown-toggle > span {
    color: #7b7b6e;
}

i {
    color: #db8400;
    transition: transform 0.25s ease;
}

.dropdown-toggle.open > i {
    transform: rotate(180deg);
}

.dropdown {
    position: relative;
}

.menu,
.submenu {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: var(--border-radius);
    position: absolute;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.menu {
    width: 100%;
    transform: translateY(-12px);
}

.menu.open {
    visibility: visible;
    opacity: 1;
    transform: translateY(12px);
}

.submenu {
    width: max-content;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 100%;
    transform: translate(-12px, 0);
}

.menu-item:hover > .submenu-toggle + .submenu {
    visibility: visible;
    opacity: 1;
    transform: translate(8px, 0);
}

.dropdown-toggle::after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: darkred transparent transparent transparent;
    margin-left: 5px;
    vertical-align: middle;
}

.menu-item.dropdown > a.submenu-toggle::after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width:5px 0 5px 5px;
    border-color: transparent transparent transparent darkred;
    margin-left: 5px;
    vertical-align: middle;
}

.submenu-item.dropdown > a.submenu-toggle::after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-color: transparent transparent transparent darkred;
    margin-left: 5px;
    vertical-align: middle;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-image: url('MyLogo.png');
    background-size: 100% 100%;
  }
  
  
  body {
    color: #5D6063;
    background-color: #EAEDF0;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.3;
  
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .speaker-form-header {
    text-align: center;
    background-color: #F6F7F8;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
  
    width: 80%;
    margin: 40px 0;
    padding: 0px;
  }
  
  .speaker-form {
    background-color: #F6F7F8;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
  
    width: 80%;
    padding: 50px;
    margin: 0 0 40px 0;
  }
  
  .speaker-form-header h1 {
    font-size: 40px;
    margin-bottom: 40px;
  }
  
  .form-row {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .form-row input[type='text'], 
  .form-row input[type='email'] {
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
  }
  
  .form-row input[type='text']:invalid, 
  .form-row input[type='email']:invalid {
    border: 1px solid #D55C5F;
    color: #D55C5F;
    box-shadow: none;
  }
  
  .legacy-form-row {
    border: none;
    margin-bottom: 40px;
  }
  
  .legacy-form-row legend {
    margin-bottom: 15px;
  }
  
  .legacy-form-row .radio-label {
    display: block;
    font-size: 14px;
    padding: 0 20px 0 10px;
  }
  
  .legacy-form-row input[type='radio'] {
    margin-top: 2px;
  }
  
  .legacy-form-row .radio-label, 
  .legacy-form-row input[type='radio'] {
    float: left;
  }
  
  .form-row select {
    width: 100%;
    padding: 5px;
    font-size: 14px;
    -webkit-appearance: none;
  }
  
  .form-row textarea {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    border: 1px solid #D6D9DC;
    border-radius: 32px;
    min-height: 200px;
    margin-bottom: 10px;
    padding: 10px;
    resize: none;
  }
  
  .form-row .instructions {
    color: #999999;
    font-size: 14px;
    margin-bottom: 30px;
  }
   
  .form-row .checkbox-label {
    margin-bottom: 0;
  }
   
  
  @media only screen and (min-width: 700px) {
    .speaker-form-header,
    .speaker-form {
        width: 600px;
    }
  
    .form-row button {
      margin-left: 180px;
      text-align: left;
  }
  
  .form-row button {
      margin-left: 180px;
      text-align: right;
  }
    .form-row {
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 20px;
    }
  
    .form-row input[type='text'], 
    .form-row input[type='email'],
    .form-row select,
    .form-row textarea {
        width: 250px;
        height: initial;
    }
  
    .form-row label {
        text-align: center;
        width: 120px;
        margin-top: 7px;
        padding-right: 20px;
    }
  
    .legacy-form-row {
        margin-bottom: 10px;
    }
  
    .legacy-form-row legend {
        width: 120px;
        text-align: center;
        padding-right: 20px;
    }
  
    .legacy-form-row legend {
        float: left;
    }
  
    .form-row .instructions {
        margin-left: 120px;
    }
    
    .form-row .checkbox-label {
        margin-left: 120px;
        width: auto;
    }
    
    .logo {
      width: 150px;
      height: auto; 
      margin-right: 20px; 
    }
  
    .form-row {
      text-align: center;
  }
  
  .form-row button {
      font-size: 16px;
      font-weight: bold;
  
      color: black;
      background-color: rgb(128, 109, 0);
  
      border: none;
      border-radius: 3px;
  
      padding: 10px 40px;
      cursor: pointer;
  }
  
  .form-row button:hover {
      background-color: darkred;
  }
  
  
  }
